*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #F3F3F3;
    height: 100vh;
}
.telaLogin img{
    margin-bottom: 60px;
    width: 130px;
    height: 92px;
}
.telaLogin{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    height: 54px;
    width: 260px;
    text-align: center;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
}

form button{
    color: #696969;
    font-weight: 400;
    font-size: 18px;
    height: 45px;
    width: 110px;
    text-align: center;
    border-radius: 9px;
    background: #E7E7E7;
    border: 0;
}

.header{
    position: fixed;
    height: 80px;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.header ion-icon{
    font-size: 50px;
    margin-right: 25px;
}
.header img{
    margin-left: 25px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.footer ion-icon{
    font-size: 26px;
    margin-right: 25px;
}
.footer input{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    border: 0;
    width: 70%;
    margin-left: 25px;
}

.erro{
    position: absolute;
    bottom: 10px;
    width: 80%;
    border-radius: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8D7DA;
    text-align: center;
}
.telaMensagens{
    width: 100%;
    height: 91vh;
    overflow: scroll;
    margin-bottom: 80px;
    margin-top: 80px;
    background-color: #F3F3F3;
}
.displayNone{
    display: none;
}
.mensagem{
    display: flex;
    min-height: 40px;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
    border-radius: 2px;
}

.mensagem .time{
    color: #AAAAAA;
    margin-left: 10px;
}
.mensagem{
    margin: 5px 0;
}

.mensagem p{
    margin: 0 5px;
}

.status{
    background-color: #DCDCDC;
}
.message{
    background-color: white;
}

.private_message{
    background-color: #FFDEDE;
}
.bold{
    font-weight: 700;
}

.mensagem .bold{
    min-width: 40px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}
p{ 
    word-break: break-word;
    word-wrap: break-word;
}
